<!--Welcome the user and explain the purspose of the site-->
{% extends "layout.html" %}

{% block navbar %}
<!--No navbar element needed, the 'home' element is included in layout.html-->
{% endblock %}

{% block main %}

    <div class="center-middle text-style">
        <h1>Welcome to LearnWords!</h1>

        <h3 class="text-style" style="padding-inline: 23%;">
            In this page you will be able to learn up to 50,000 words based on their 
            difficulty, while doing so as a game! Insert here the text you want to 
            learn new vocab from and then select a complexity level. Good luck and 
            learn words!
        </h3>

        <!--Get the text from the user-->
        <div>
            <form action="/" method="post" id="myform">
                <textarea class="form-control custom-textarea mx-auto" rows="8" style="width: 730px;" placeholder="Enter your text here" name="text" id="text"></textarea>
            </form>
        </div>
    </div>

    <!--Make the text-area to send text once 'enter' key is pressed-->
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var textarea = document.getElementById('text')
            textarea.addEventListener('keypress', function(event) {
                if (event.keyCode === 13 && !event.shiftKey) { 
                    event.preventDefault(); 
                    document.getElementById('myform').submit(); 
                } 
            });
        });
    </script>

{% endblock %}