/*Set style for the site*/
body {
    background-image: url('../static/home-background.jpg');
    background-size: cover;
}

.text-style {
    color: white;
    text-shadow: 2px 2px 1px #DAB5CF;
}

.center-middle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.custom-outline {
    border-color: white;
    color: white;
}

.custom-outline1 {
    border-color: #981F1F;
    color: white;
    border-width: 1px;
    box-shadow: 1px 1px 1px black;
}

.custom-outline2 {
    border-color:  #104084;
    color: white;
    border-width: 1px;
    box-shadow: 1px 1px 1px black;
}

.custom-outline3 {
    border-color: #98B06F;
    color: white;
    border-width: 3px;
}

.gradient-background {
    background: linear-gradient(to bottom, #C0AFD1,  #8695C2);
}

.custom-card-body {
    height: 250px; 
    width: 200px;
}

.card {
    flex: 0 0 calc(25% - 15px);
    margin-bottom: 15px;
    min-width: 350px;
}